.body {
  background: rgba(237, 242, 247, 1);
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}

.corpo {
  width: 90%;
  background-color: white;
  position: absolute;
  top: 100px;
  margin-left: 5%
}

.div-paragrafo{
  margin-left: 36px;
  margin-right: 12px;
}
.div-botao{
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

p{
  font-size: 16px;
  text-align: justify;
}

h2{
  text-align: center;
  padding: 2rem;
}
.botao {
  border: solid green thin;
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  transition: 0.30s ease;
}

:hover.botao {
  background-color: green;
}

/* @media (max-width: 768px) {
  #div-botao{
    background: red;
  }
} */

.link {
  color: green;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;

}

:hover.link {
  color: white
}

.footer{
  margin-top: 500px;
   text-align: center;
    color: gray;
}
